In [28]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import StandardScaler

In [2]:
samp_df = pd.read_csv('../data/sampl.csv')

In [3]:
samp_df.head()

   Id    SalePrice
0   2  181479.1217
1   4  181479.1217
2   6  181479.1217
3   7  181479.1217
4  17  181479.1217

In [4]:
samp_df.shape

(879, 2)

In [5]:
samp_df.columns

Index(['Id', 'SalePrice'], dtype='object')

In [6]:
test_df = pd.read_csv('../data/test.csv')

In [7]:
test_df.shape

(879, 80)

In [8]:
test_df.Id.describe()

count     879.000000
mean     1445.588168
std       850.717105
min         2.000000
25%       692.500000
50%      1435.000000
75%      2197.000000
max      2928.000000
Name: Id, dtype: float64

In [9]:
train_df = pd.read_csv('../data/train.csv')

In [10]:
train_df.head()

,Id,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,...,Screen Porch,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,SalePrice
0,109,533352170,60,RL,NaN,13517,Pave,NaN,IR1,Lvl,...,0,0,NaN,NaN,NaN,0,3,2010,WD,130500
1,544,531379050,60,RL,43.0,11492,Pave,NaN,IR1,Lvl,...,0,0,NaN,NaN,NaN,0,4,2009,WD,220000
2,153,535304180,20,RL,68.0,7922,Pave,NaN,Reg,Lvl,...,0,0,NaN,NaN,NaN,0,1,2010,WD,109000
3,318,916386060,60,RL,73.0,9802,Pave,NaN,Reg,Lvl,...,0,0,NaN,NaN,NaN,0,4,2010,WD,174000
4,255,906425045,50,RL,82.0,14235,Pave,NaN,IR1,Lvl,...,0,0,NaN,NaN,NaN,0,3,2010,WD,138500

In [11]:
train_df['SalePrice'].describe()

count      2051.000000
mean     181469.701609
std       79258.659352
min       12789.000000
25%      129825.000000
50%      162500.000000
75%      214000.000000
max      611657.000000
Name: SalePrice, dtype: float64

## Select only Numeric Columns

In [16]:
train_df = train_df.select_dtypes(exclude='object')

In [18]:
train_df.set_index('Id', inplace=True)

In [19]:
train_df.drop('PID', 1, inplace=True)

In [20]:
train_df=train_df.fillna(0)

In [21]:
y = train_df['SalePrice']

In [22]:
train_df.drop('SalePrice', 1, inplace=True)

In [23]:
X = train_df

In [24]:
train_cols = train_df.columns

In [25]:
X.shape

(2051, 36)

## Fit Our Model

In [30]:
ss = StandardScaler()

In [31]:
X_train_sc = ss.fit_transform(X)

In [32]:
lr=LinearRegression()

In [33]:
lr.fit(X_train_sc, y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [34]:
lr.score(X_train_sc, y)

0.8406320161194087

In [36]:
lr.predict(X_train_sc)

array([182521.35306939, 236309.37485151, 125929.71550818, ...,
       167354.83577343, 118140.68056025, 208091.91800868])

##Looking at Test Data

In [38]:
test_df.set_index('Id', inplace=True)

In [40]:
test_df = test_df[train_cols].fillna(0)

In [41]:
X_test_sc = ss.transform(test_df)

In [43]:
bad_predictions = lr.predict(X_test_sc)

In [44]:
bad_predictions.shape

(879,)

In [45]:
test_df.index

Int64Index([2658, 2718, 2414, 1989,  625,  333, 1327,  858,   95, 1568,
            ...
             337, 2765, 1746,  368, 2806, 1662, 1234, 1373, 1672, 1939],
           dtype='int64', name='Id', length=879)

In [47]:
pred_df = pd.DataFrame({'SalePrice': bad_predictions}, index=test_df.index)

In [49]:
pred_df.sort_index(inplace=True)

In [50]:
pred_df.to_csv('../data/bad_pred.csv')